<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Aplicación web básica con Python para realizar gráficos de barra con temática educativa."
    />
    <meta name="keywords" content="Python, Flask, Chartjs" />
    <meta name="author" content="Keiber Urbila" />
    <meta name="copyright" content="MIT" />

    <link
      rel="icon"
      href="{{ url_for('static', filename='imgs/favicon.ico') }}"
      type="image/x-icon"
    />
    <!-- Bootstrap -->
    <link rel="stylesheet" type=text/css media="screen" href="{{
    url_for('static', filename='css/bootstrap.min.css') }}" >

    <title>Y mi tarea?</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Y mi tarea?</a>
        <button
          class="navbar-toggler collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarColor01"
          aria-controls="navbarColor01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarColor01" style="">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://www.instagram.com/keiberup/"
                target="_blank"
                >Instagram</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://github.com/metalpoch/"
                target="_blank"
                >Github</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="https://www.linkedin.com/in/keiber-urbila/"
                target="_blank"
                >LinkedIn</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block content %} {% endblock %}
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
  </body>
</html>
